<article class="post_preview">
  {% include base.html %}
  <header>
    <hgroup>
      <h1>{{post.title}}</h1>
      <h2><time datetime="{{post.date}}">{{post.date}}</time></h2>
      <h2><span class="author">{{post.author}}</span></h2>
    </hgroup>
  </header>
  <p class="text_preview">
    {{ post.content | markdownify | strip_html | truncatewords: 45 }}
  </p>
  <footer>
    <span class="author">{{post.author}}</span>
    <span class="date"><time datetime="{{post.date}}">{{ event.date }}</time></span>
    <a href="{{ base }}{{ post.url }}" class="read">leggi...</a>
  </footer>
</article>
