<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it">
  {% include base.html %}
  <head>
    <meta charset="utf-8">
      <title>{{page.title}} | {{site.url}}</title>
  </head>
  <body>
    <header>
      <h1>{{site.name}}</h1>
        {% if site.menu %}
        <nav>
          <ul>
            {% for iten in site.menu %}
	      <!-- {{ base }} relative path of the page than the root -->
              <li><a href="{{ base }}{{iten[1]}}{{site.index}}">{{iten[0]}}</a></li>
	                  {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </header>
      
    {{ content }}

  </body>
</html>
